<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" parallel="tests" thread-count="2" verbose="1">

    <test name="LoginTest">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="ProductTest">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="tests.ProductTest"/>
        </classes>
    </test>
</suite>